div.profHeader Basic Information
div.fldRow
	div.fldLbl Code Name
	div.fldTxt jingcleovil
	div.clear

div.fldRow
	div.fldLbl Birthdate
	div.fldTxt March 09, 1983
	div.clear

div.fldRow
	div.fldLbl Age
	div.fldTxt 32
	div.clear

div.fldRow
	div.fldLbl Gender
	div.fldTxt Male
	div.clear

div.fldRow
	div.fldLbl Country
	div.fldTxt Philippines
	div.clear

div.fldRow
	div.fldLbl Location
	div.fldTxt Masbate
	div.clear

div.fldRow
	div.fldLbl Civil Status
	div.fldTxt Single
	div.clear

div.fldRow
	div.fldLbl Height
	div.fldTxt 180 CM
	div.clear

div.fldRow
	div.fldLbl Citizenship
	div.fldTxt Filipino
	div.clear

div.fldRow
	div.fldLbl Religion
	div.fldTxt2 Roman Catholic
	div.clear

div.divide