// Education
div.profHeader Educational Background
	a(href="")
		span.edit 
		| Edit

div.fldRow
	div.fldLbl School Year
	div.fldTxt 2000 - 2002
	div.clear

div.fldRow
	div.fldTxt2 University of the Philippines
	div.clear

div.fldRow
	div.fldTxt2 Bachelor of Science in Info Tech
	div.clear

div.fldRowDivide

div.fldRow
	div.fldLbl School Year
	div.fldTxt 2000 - 2002
	div.clear

div.fldRow
	div.fldTxt2 University of the Philippines
	div.clear

div.fldRow
	div.fldTxt2 Bachelor of Science in Info Tech
	div.clear


div.divide