extends layout

block content
	//div(data-role="page", data-title="Welcome to Jobsville.ph", id="splash")

	div(data-role="page", data-title="Welcome to Jobsville.ph", id="home") 
		include panels/menu
		include panels/chat
		//data-position="fixed", 
		div(data-role="header", data-theme="c", class="header", data-position-fixed="true")
			h1 Profile
			a(data-theme="c", href="#menupanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")
			a(data-theme="c", href="#chatpanel", data-role="button", data-icon="chat", data-role="button", data-iconpos="notext")

		div(data-role="content", class="no-padding")
			include pages/profile

	div(data-role="page", data-title="Jobs Wall : Jobsville.ph", id="wall") 
		include panels/menu
		include panels/chat

		div(data-role="header", data-theme="c", class="header", data-position="fixed", data-position-fixed="true")
			h1 Jobs Wall
			a(data-theme="c", href="#menupanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")

		div(data-role="content", class="no-padding")
			
	div(data-role="page", data-title="Friends Wall : Jobsville.ph", id="friends") 
		include panels/menu
		include panels/chat

		div(data-role="header", data-theme="c", class="header", data-position="fixed", data-position-fixed="true")
			h1 Friends Wall
			a(data-theme="c", href="#menupanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")

		div(data-role="content", class="no-padding")
			
