extends layout

block content
	div(data-role="page", data-title="Welcome to Jobsville.ph") 
		div(data-role="panel", data-position="left", data-display="push", id="menupanel", class="panel")
			p Menu Panel

		div(data-role="panel", data-position="right", data-display="push", id="chatpanel", class="panel")
			p Chat Panel

		div(data-role="header", data-theme="c", class="header")
			h1 Profile
			a(data-theme="c", href="#menupanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")
			a(data-theme="c", href="#chatpanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")

		div(data-role="content", class="no-padding")
			div.bannerInner

			div.photoOuter
				div.photoInner

			div.profileDetails
				span.profileName Jinggo Cleofe Villamor
				span.profilePosition Web Developer
			
			div.clear

			div.resumeProgress
				span Resume Progress 
				span 80%

			div.profWidget
				div.profHeader Basic Information

				div.fldRow
					div.fldLbl Code Name
					div.fldTxt jingcleovil
					div.clear

				div.fldRow
					div.fldLbl Birthdate
					div.fldTxt March 09, 1983
					div.clear

				div.fldRow
					div.fldLbl Age
					div.fldTxt 32
					div.clear

				div.fldRow
					div.fldLbl Gender
					div.fldTxt Male
					div.clear

				div.fldRow
					div.fldLbl Country
					div.fldTxt Philippines
					div.clear

				div.fldRow
					div.fldLbl Location
					div.fldTxt Masbate
					div.clear

				div.fldRow
					div.fldLbl Civil Status
					div.fldTxt Single
					div.clear

				div.fldRow
					div.fldLbl Height
					div.fldTxt 180 CM
					div.clear

				div.fldRow
					div.fldLbl Citizenship
					div.fldTxt Filipino
					div.clear

				div.fldRow
					div.fldLbl Religion
					div.fldTxt2 Roman Catholic
					div.clear

				div.divide

				// Education

				div.profHeader Educational Background

				div.fldRow
					div.fldLbl School Year
					div.fldTxt 2000 - 2002
					div.clear

				div.fldRow
					div.fldTxt2 University of the Philippines
					div.clear

				div.fldRow
					div.fldTxt2 Bachelor of Science in Info Tech
					div.clear

				div.fldRowDivide

				div.fldRow
					div.fldLbl School Year
					div.fldTxt 2000 - 2002
					div.clear

				div.fldRow
					div.fldTxt2 University of the Philippines
					div.clear

				div.fldRow
					div.fldTxt2 Bachelor of Science in Info Tech
					div.clear


				div.divide


				// Work Experience

				div.profHeader Work Experience

				div.fldRow
					div.fldTxt2 February 2003 - April 2004
					div.fldTxt2
						b Sales Agent
						span in EMZ Marketing Inc. Manila
					div.clear

				div.fldRow
					div.fldTxt2 University of the Philippines
					div.clear

				div.fldRow
					div.fldTxt2 Bachelor of Science in Info Tech
					div.clear

				

			
