extends layout

block content
	div(data-role="page", data-title="Welcome to Jobsville.ph") 
		div(data-role="panel", data-position="left", data-display="reveal", id="menupanel", class="panel")
			include widget/menupanel

		div(data-role="panel", data-position="right", data-display="reveal", id="chatpanel", class="panel chatpanel")
			include widget/chatpanel

		div(data-role="header", data-theme="c", class="header")
			h1 Profile
			a(data-theme="c", href="#menupanel", data-role="button", data-icon="bars", data-role="button", data-iconpos="notext")
			a(data-theme="c", href="#chatpanel", data-role="button", data-icon="chat", data-role="button", data-iconpos="notext")

		div(data-role="content", class="no-padding")
			div.bannerInner

			div.photoOuter
				div.photoInner

			div.profileDetails
				span.profileName Jinggo Cleofe Villamor
				span.profilePosition Web Developer
			
			div.clear

			div.resumeProgress
				span Resume Progress 
				span 80%

			div.profWidget
				include resume/basic
				include resume/education
				include resume/work
			
