div(data-role="panel", data-position="left", data-display="reveal", id="menupanel", class="panel")
	ul.menupanel
		li
			
			a(href="#home", data-transition="slide")
				i.icon.profile
				| My Profile

		li
			a(href="#wall", data-transition="slide") 
				i.icon.wall
				| Jobs Wall

		li
			a(href="#friends", data-transition="slide") 
				i.icon.friendswall
				| Friends Wall

		li.noBottomBorder
			a(href="#browse", data-transition="slide")
				i.icon.browse
				| Browse Jobs

		li.divider

		li
			a(href="") 
				i.icon.friends
				| Friends

		li.noBottomBorder
			a(href="") 
				i.icon.message
				| Message

		li.divider

		li
			a(href="") 
				i.icon.settings
				| Account Settings

		li.noBottomBorder
			a(href="") 
				i.icon.privacy
				| Privacy Settings

		li.divider

		li
			a(href="/signout") 
				i.icon.logout
				| Logout