ul.menupanel
	li
		
		a(href="")
			i.icon.profile
			| My Profile

	li
		a(href="") 
			i.icon.wall
			| Jobs Wall

	li
		a(href="") 
			i.icon.friendswall
			| Friends Wall

	li.noBottomBorder
		a(href="")
			i.icon.browse
			| Browse Jobs

	li.divider

	li
		a(href="") 
			i.icon.friends
			| Friends

	li.noBottomBorder
		a(href="") 
			i.icon.message
			| Message

	li.divider

	li
		a(href="") 
			i.icon.settings
			| Account Settings

	li.noBottomBorder
		a(href="") 
			i.icon.privacy
			| Privacy Settings

	li.divider

	li
		a(href="") 
			i.icon.logout
			| Logout