div.bannerInner

div.photoOuter
	div.photoInner

div.profileDetails
	span.profileName Jinggo Cleofe Villamor
	span.profilePosition Web Developer

div.clear

div.resumeProgress
	span Resume Progress 
	span 80%

div.profWidget
	include resume/basic
	include resume/education
	include resume/work